/** COLORS **
Black - #202020 
White  - #fff
Red - 
Dark Gray - 
Light Gray .
**/

/** FONTS **
h1 = Boots And Spurs
h2 - h6, p = Roboto

**/

/** GLOBALS **/

@font-face {
    font-family: 'BootsAndSpurs';
    src: url('../fonts/BootsAndSpurs.ttf') format("Truetype");
}

header,
footer {
  background-color: #202020;
  color: #fff;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  }
a {
    text-decoration: none;
    }

h1, #logo {
    font-family: 'BootsAndSpurs', 'Open Sans', Verdana;
}

header a {
    color: #fff;
}


}
/** NAVIGATION **/
nav ul {
    width: 100%;
    background-color: #202020;
}

nav li {
    display: inline;
    padding: 15px;
    margin: 0;}

nav a {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
}

nav a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.welcome-section {
    font-family: 'Roboto';
    background-image: url('../images/home-header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: left;
    background-position-y: bottom;
    height: 850px;
}

.welcome-section h1 {
    position: relative;
    top: 160px;
    left: 245px; 
    color: black; 
}

/** MAIN SECTION **/
.product-keypoints h2, li{
    font-family: 'Roboto';
}
.hero-cta {
    display: block;
    background-color: #BB0000;
    width: 250px;
    padding: 20px 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
    top: 160px;
    left: 320px;
}
.product-keypoints {
    margin: 0px;'
    padding: 0px;
    background-color: #f9f9f9;
}

.view-cta {
    color: #000;
    background-color: red;
    padding: 10px;
}

.view-cta:hover { /** This looks shit, change it **/
    text-decoration: underline;
    text-decoration-color: #FFF;
    
}

.product-keypoints-image {
    border-radius: 4%;
}

.review-section  {
    background-color: #E8E8E8;
    font-family: 'Roboto';
}

.review-profile-image {
    border-radius: 50%;
}

.form__input {
    display: block;
}



/** FOOTER **/
footer {
    background-color: #000;
    color: #FFF;
    height: 100px;
    margin: 15px 0px;
}